ecr/.terraform/
ecr/.terraform.lock.hcl

modules/.terraform/
modules/.terraform.lock.hcl

modules/vpc/.terraform/
modules/vpc/.terraform.lock.hcl

modules/ecs/.terraform/
modules/ecs/.terraform.lock.hcl

modules/ecr/.terraform/
modules/ecr/.terraform.lock.hcl

terraform.tfstate

provider/dev/ecr/.terragrunt-cache
provider/dev/ecs/.terragrunt-cache
provider/dev/vpc/.terragrunt-cache

provider/prod/ecr/.terragrunt-cache
provider/prod/ecs/.terragrunt-cache
provider/prod/vpc/.terragrunt-cache
